/* Universal Selector */
* {
    color:grey;
}

/* Element Selector */
h1 {
    text-transform:uppercase;
    color:saddlebrown;
}

/*ID Selector */
#status {
    font-family:sans-serif;
}

img {
    height:400px;
}

p {
    font-family:sans-serif;
}

/*Class Selector */
.gray-box {
    background-color:whitesmoke;
    border-radius:1rem;
    padding:1rem;
    width:600px;
}

.subtitle {
    text-transform:uppercase;
    color:saddlebrown;
    font-size:1.1rem;
    font-weight:bold;
}

.hm {
    color:darkgrey;
    font-size:0.8rem;
}
